
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/basic}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block layout:fragment="css">
    <style>
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>

</th:block>
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(function(){
            $("input[name=cartChkBox]").change( function(){
                getOrderTotalPrice();

            });


        });
        function getOrderTotalPrice(){  // 선택한 상품들의 총 결제 금액
            var orderTotalPrice = 0;
            $("input[name=cartChkBox]:checked").each(function() {
                var cartItemId = $(this).val();
                var price = $("#price_" + cartItemId).data("price");
                var count = $("#count_" + cartItemId).val();
                orderTotalPrice += price*count;
            });

            $("#orderTotalPrice").html(orderTotalPrice + '원');
        }
        function changeCount(obj){
            var count = obj.value;
            var cartItemId = obj.id.split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = count*price;
            $("#totalPrice_" + cartItemId).html(totalPrice+"원");
            getOrderTotalPrice();
            //updateCartItemCount(cartItemId, count);
        }
        function checkAll(){
            if($("#checkall").prop("checked")){
                $("input[name=cartChkBox]").prop("checked",true);
            }else{
                $("input[name=cartChkBox]").prop("checked",false);
            }
            getOrderTotalPrice();
        }

        function updateCartItemCount(cartItemId, count){ //수량 변화
            //json 전송
        }
        function deleteCartItem(obj){ // 장바구니에서 상품 삭제
            //json 전송
        }

        function orders() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var cartOrderDtoList = [];

            $("input[name='cartChkBox']:checked").each(function () {
                var cartItemId = $(this).val();
                var count = $(this).closest("tr").find("input[name='count']").val();

                var cartOrderDto = {
                    cartItemId: cartItemId,
                    count: count
                };

                cartOrderDtoList.push(cartOrderDto);
            });

            // 주문할 상품이 없는 경우에 대한 체크
            if (cartOrderDtoList.length === 0) {
                alert("주문할 상품을 선택해주세요.");
                return;
            }

            var url = "/cart/orders";
            var paramData = cartOrderDtoList;  // 직접 배열 형태로 전달
            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("상품을 정상적으로 주문했습니다.")
                    location.href = "/";
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == "200") {
                        alert("로그인 후 이용해주세요");
                        location.href = "/members/login";
                    } else {
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>

</th:block>

<div layout:fragment="content">
    <h2 class="my-4">
        장바구니 목록
    </h2>

    <div>

        <table class="table">
            <thead>
            <tr class="text-center">
                <td style="width:15%;">
                    <input type="checkbox" id="checkall" onclick="checkAll()"> 전체선택
                </td>
                <td style="width:70%;">상품정보</td>
                <td style="width:15%;">상품금액</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td class="text-center align-middle">
                    <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">
                </td>
                <td class="d-flex">
                    <div class="repImgDiv align-self-center">
                        <img th:src="${cartItem.imgUrl}" class = "rounded repImg" th:alt="${cartItem.itemNm}">
                    </div>
                    <div class="align-self-center">
                        <span th:text="${cartItem.itemNm}" class="fs24 font-weight-bold"></span>
                        <div class="fs18 font-weight-light">
                            <span class="input-group mt-2">
                                <span th:id="'price_' + ${cartItem.cartItemId}"
                                      th:data-price="${cartItem.price}"
                                      th:text="${cartItem.price} + '원'" class="align-self-center mr-2">
                                </span>
                                <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                                       th:value="${cartItem.count}" min="1"
                                       onchange="changeCount(this)" class="form-control mr-2" >
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true" th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)">&times;</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <span th:id="'totalPrice_' + ${cartItem.cartItemId}"
                          name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <h2 class="text-center">
            총 주문 금액 : <span id="orderTotalPrice" class="text-danger">0원</span>
        </h2>

        <div class="text-center mt-3">
            <button type="button" class="btn btn-primary btn-lg" onclick="orders()">주문하기</button>
        </div>

    </div>
</div>

</html>